<h4>Word Name: <%= @word.name %></h4>

<% @words.each do |word| %>
  <li><a href="/words/<%= word.id %>"><%= word.name%></a></li>

  <% end %>

<p><a href="/words/<%= @word.id%>/edit"></a>Edit word</p>
<a href="/words">Return to word list</a>
